*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url('assets/background_javascript.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
}

.title{
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-top: 10%;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}